:root {
  --headerSize: 66px;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: darkgrey;
  padding: 10px 12px 10px 12px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 100%;
}

nav p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 50%;
}

p.bottom {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  line-height: 50%;
  /* display: block; */
  text-align: center;
  background white;
}

footer {
  width: 100vw;
  background: green;
  padding: 5px 0px 5px 20px;
  text-align: center;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 50%;
}

#today {
  /* float: left; */
  margin-right: 0px;
}

#location {
  margin-left: 0px;
}

#time {
  /* float: right; */
  margin-right: 25px;
}

#main {
  width: calc(100%-15px);
  margin-top: 46px;
  padding: 0px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}

#grid-left {
  display: grid;
  row-gap: 15px;
  margin-right: 10px;
  height: 100vh;
  overflow: auto;
}

#grid-center {
  display: grid;
  row-gap: 15px;
  height: 100vh;
  overflow: auto;
}

#grid-right {
  display: grid;
  row-gap: 15px;
  margin-left: 10px;
  height: calc(100vh - var(--headerSize));
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow: auto;
}

.grid-box {
  background-color: lightgray;
  padding: 0px 10px 0px 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;

}

.top-one {
  border-bottom: 1px solid black;
}

.bottom-one {
  border-top: 1px solid black;
}

.center-ones {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.grid-img {
  background-color: lightgray;
  padding: 0;
  margin-bottom: 10px;
  border: 1px solid black;
  height: 250px;
}

.grid-box p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 110%;
}

.header:hover {
  cursor: pointer;
}

.grid-box img {
  max-width: 100%;
}

.date {
  font-weight: bold;
}

.hided {
  opacity: 0;
}

.content {
  /* display: none; */
}

.show {
  display: none;

}