body {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: darkgrey;
  padding: 10px 12px 10px 12px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 100%;
}

#today {
  width: fit-content;
}

nav p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 50%;
}

p.bottom {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  line-height: 50%;
  /* display: block; */
  text-align: center;
  background: rgb(182, 179, 179);
  padding: 5px;
  border: 1px solid black;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 24px;
  padding: 0px 0px 10px 0px;
  text-align: center;
  background-color: darkgray;
  border-top: 1px solid black;
  z-index: 1;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 50%;
}

#today {
  /* float: left; */
  margin-right: 0px;
}

#location {
  margin-left: 0px;
}

#time {
  /* float: right; */
  margin-right: 25px;
}

#main {
  width: calc(100%-15px);
  margin: 50px 0px 35px 0px;
  padding: 0px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: fit-content;
}

#grid-left {
  display: grid;
  row-gap: 15px;
  margin-right: 10px;
  height: fit-content;
}

#grid-center {
  display: grid;
  row-gap: 15px;
  height: fit-content;
}

#grid-right {
  display: grid;
  row-gap: 15px;
  margin-left: 10px;
  height: fit-content;
}

.grid-box {
  background-color: lightgray;
  padding: 0px 10px 0px 10px;
  border: 1px solid black;
  box-shadow: rgba(17, 12, 46, 0.1) 2px 2px 1px 0px;

}

.grid-img {
  background-color: lightgray;
  padding: 0;
  margin-bottom: 10px;
  border: 1px solid black;
  height: 250px;
}

.grid-box p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 110%;
}

.header:hover {
  cursor: pointer;
}

.grid-box img {
  max-width: 100%;
}

.date {
  font-weight: bold;
}

.hided {
  opacity: 0;
}

.content {
  /* display: none; */
}

.show {
  display: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: underline;
}



@media screen and (max-width: 900px) {
  #main {
    display: flex;
    flex-direction: column;
  }

  #grid-left {
    margin-top: 5px;
    margin-bottom: 15px;
    width: calc(100%);
  }

  #grid-center {
    margin-bottom: 15px;
  }

  #grid-right {
    margin-bottom: 5px;
    margin-left: 0px;
  }

}